@import url("https://fonts.googleapis.com/css?family=Roboto");

#main {
    height: 100vh;
}

.body {
    background-color: #252525;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body button.button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    padding: 8px 40px;
    font-size: 17px;
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing: 1px;
    background-color: #252525;
    color: white;
    border: 3px solid white;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    font-weight: 600;
    position: relative;
    transition: border-color 500ms ease;
}

.body button.button::before {
    background-clip: padding-box;
    content: "";
    position: absolute;
    background-color: orange;
    width: 0;
    height: 0;
    right: -3px;
    top: -3px;
    border-style: solid;
    border-width: 0 37px 37px 0;
    border-color: transparent orange transparent transparent;
    z-index: 1;
}

.body button.button:hover {
    border-color: orange;
}