@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

:root {
    --font-family: 'DM Sans', sans-serif;
    --font-size: 14px;
    --margin-top: 50px;
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --checkbox-color-2: #038B87;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
}

#main {
    height: 100vh;
    overflow: hidden;
}

.body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-image:
        linear-gradient(21deg,
            rgba(64, 83, 206, 0.3697003234675773) 68%,
            rgba(255, 206, 196, 0.5) 163%),
        linear-gradient(160deg,
            rgba(49, 146, 170, 0.07944489965716128) 86%,
            rgba(239, 112, 138, 0.5) 40%),
        linear-gradient(30deg, rgba(76, 79, 173, 0.6173675716587805) 22%, rgba(237, 106, 134, 0.5) 169%),
        linear-gradient(48deg, rgba(31, 85, 147, 0.7323890641868473) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay, multiply, color, normal;
}

.task-manager {
    margin: 10px 6%;
    background: white;
    height: 95%;
    display: flex;
}

.left-bar {
    width: 15vw;
    background-color: var(--bg-color);
    height: 100%;
    border-right: solid 1px #e3e7f7;
    position: relative;
}

.upper-part {
    margin-bottom: var(--margin-top);
    padding: 13px 0 0 28px;
    display: flex;
    justify-content: space-between;
}

.upper-part .left-side {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ffbb10;
    box-shadow: -18px 0 0 0 #e7583e, 18px 0 0 0 #77BD34;
}

.upper-part .right-side {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #D5D9DF;
    margin: 0px 15px 0 0;
    box-shadow: 8px 0 0 0 #D5D9DF, -8px 0 0 0 #D5D9DF;
}

.left-content {
    margin: 2.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.20rem;
}

.left-content .line {
    display: flex;
}

.left-bar img {
    height: 18px;
    margin-right: 6px;
}

.left-content .line span {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.left-bar .category-selector {
    margin: 2.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.20rem;
}

.left-bar .category-selector span {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.left-bar .category-selector .line {
    display: flex;
}

/* page-content */
.page-content {
    height: auto;
    width: 42vw;
    border-right: 1px solid #e3e7f7;
    margin-top: calc(var(--margin-top) + 20px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-content .page-header {
    font-size: 26px;
    font-family: var(--font-family);
}

.content-categories {
    margin-top: 10px;
    display: flex;
}

.content-categories .label-wrapper {
    width: 24%;
    text-align: center;
}

.content-categories .label-wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    height: 100%;
}

.content-categories .label-wrapper input {
    display: none;
}

.content-categories .label-wrapper input:checked~label {
    color: var(--checkbox-color);
}

.content-categories .label-wrapper {
    border-bottom: 1px solid var(--secondary-color);
}

.content-categories .label-wrapper:has(>input:checked) {
    border-bottom: 2.5px solid var(--checkbox-color-2);
}

/* reseteamos propiedad */
.progress {
    display: initial;
    height: initial;
    overflow: initial;
    font-size: initial;
    background-color: initial;
    border-radius: initial;
}

/* reseteamos propiedad */


.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: 10px;
    padding-bottom: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-wrapper .task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding-right: 10px;
}

.task:hover {
    margin-left: 2px;
}

.task-wrapper input[type="checkbox"] {
    font: inherit;
    accent-color: var(--checkbox-color-2);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.task-wrapper input[type="checkbox"] {
    border: none;
}

.task-wrapper label {
    position: relative;
}

.task-wrapper input[type="checkbox"] {
    opacity: 0;
}

.task-wrapper label::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    left: -22px;
    top: 2px;
    border-radius: 2px;
    transition: 200ms ease;
}

.task-wrapper input[type="checkbox"]:checked~label::before {
    border: none;
    background-color: var(--checkbox-color);
    background-image: url('http://localhost:8000/images/challenge-28/svg/check.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    border: solid 1px var(--checkbox-color);
}

.task-wrapper .task label {
    font-size: var(--font-size);
    flex-grow: 1;
    font-family: var(--font-family);
    color: var(--task-color);
    font-weight: 700;
}

.task-wrapper .tag {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 20px;
}

.task-wrapper span.tag.approved {
    background-color: var(--tag-color-one);
    color: var(--tag-color-text-one);
}

.task-wrapper span.tag.progress {
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
}

.task-wrapper span.tag.review {
    background-color: var(--tag-color-three);
    color: var(--tag-color-text-three);
}

.task-wrapper span.tag.waiting {
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
}

.header.upcoming {
    font-size: 24px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e7f7;
}

/* page-content */

/* rightbar */
.right-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-right {
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.top-right div.round {
    border-radius: 50%;
    height: 21px;
    width: 21px;
    margin: 0 0 0 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    align-items: center;
    background-color: #5D49E6;
}

.top-right .users-icon {
    height: 16px;
    width: 16px;
}

.right-bar-title {
    font-size: 20px;
    margin: calc(var(--margin-top) - 25px) 20px 0 20px;
}

.sticknotes-list {
    padding: 0 30px;
    margin: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}



.sticknote .time {
    margin: 5px 5px 0px 10px;
    color: var(--main-text-color);
    font-size: 12px;
}

.sticknote .title {
    margin: 0 5px 0 10px;
    font-size: 15px;
}

.invites {
    margin: 10px 0 10px 10px;
}

.invites img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.sticknote {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0;
    transition: margin 200ms ease;
}

.sticknote:hover {
    margin-left: 5px;
}

.sticknote:nth-of-type(1) {
    background-color: var(--box-color);
}

.sticknote:nth-of-type(2) {
    background-color: var(--box-color-2);
}

.sticknote:nth-of-type(3) {
    background-color: var(--box-color-3);
}

.sticknote:nth-of-type(4) {
    background-color: var(--box-color-4);
}

.sticknote:nth-of-type(5) {
    background-color: var(--box-color);
}

/* rightbar */


@media(max-width:900px) {
    .left-bar {
        display: none;
    }

    .page-content {
        margin-left: 40px;
    }
}

@media(max-width:750px) {
    .page-content {
        margin-left: 0;
        padding: 20px;
    }

    #main {
        overflow: hidden;
    }

    .body {
        display: block;
        overflow: auto;
    }

    .task-manager {
        height: auto;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .sticknotes-list {
        overflow: hidden;
    }

    .page-content {
        width: 100%;
        display: block;
    }

    .right-bar {
        overflow: hidden;
        display: block;
        width: 100%;
    }

    .task-wrapper {
        padding-bottom: 10px;
    }
}