@import url(https://fonts.googleapis.com/css?family=Open+Sans:700;);

* {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
}

.body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f8fe;
    height: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8892d8;
    border-radius: 34px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #6472db;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.body h1 {
    font-size: 26px;
    color: rgb(121, 121, 121);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 100%;
    width: 260px;
    min-width: 25%;
    max-width: 50%;
    background-color: white;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.144);
    margin: 10px 0;
}

.card:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card h3.titulo {
    font-size: 16px;
    text-align: center;
    padding: 40px 0 0 0;
}

.card p.precio {
    font-size: 34px;
    text-align: center;
    padding: 10px 0 0 0;
    color: rgb(54, 53, 53);
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
}

.card .info {
    display: inline-block;
    text-align: center;
}

.card .info p {
    padding: 8px 5px;
    margin: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    color: rgb(83, 83, 83);
    border-top: 1px solid rgba(170, 170, 170, 0.312);
}

.card .info p:last-child {
    border-bottom: 1px solid rgba(170, 170, 170, 0.312);
}

.card.main {
    height: 110%;
    width: 250px;
    background: linear-gradient(
        to right,
        #a0abed 0%,
        #7582db 50%,
        #5e6ed7 100%
    );
    transform: translateY(-15px);
    border-radius: 10px;
    color: white;
}

.card.main .info p {
    color: white;
    border-top: 1px solid rgba(241, 241, 241, 0.501);
}

.card.main .info p:last-child {
    border-bottom: 1px solid rgba(241, 241, 241, 0.501);
}

.card.main p.precio {
    color: white;
}

.line {
    display: flex;
    flex-direction: row;
    margin: 10px 0 25px 0;
}

.line h3 {
    font-size: 16px;
    color: grey;
    margin: 5px 7px;
}

.card a.learn-more {
    color: black;
    text-decoration: none;
    background: linear-gradient(to right, #a0abed 0%, #5e6ed7 100%);
    margin: 20px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.card.main a.learn-more {
    margin-top: 50px;
    background: white;
}

@media (max-width: 700px) {
    .card,
    .card.main {
        min-width: 70%;
        max-width: 80%;
        height: 400px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .card a.learn-more {
        margin: 20px;
    }

    .card.main a.learn-more {
        margin-top: 20px;
    }
}

@media (min-width: 700px) and (max-width: 769px) {
    .card,
    .card.main {
        min-width: 40%;
        max-width: 45%;
        height: auto;
        border-radius: 10px;
        margin: 10px 10px;
        padding-bottom: 20px;
    }

    .card.main {
        transform: translateY(0);
    }

    .card a.learn-more {
        margin: 20px;
    }

    .card.main a.learn-more {
        margin-top: 20px;
    }
}
