body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    background-color: #212529;
}

.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    color: rgb(163, 163, 163);
}

.navbar ul:last-child {
    margin-right: 35px;
    padding-right: 30px;
}

.navbar ul:first-child {
    margin-left: 35px;
}

.navbar ul li {
    list-style: none;
    padding: 1.2rem 0.8rem;
    height: auto;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(163, 163, 163);
}

.dropdown.active>li>a.link,
.navbar ul li a:hover {
    color: azure;
}

.navbar ul li a i {
    font-size: 17px;
    margin: 0 4px;
}

.navbar ul li.navbar-toggle {
    display: none;
}

@media(max-width:600px) {
    .navbar ul {
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .navbar ul li.navbar-toggle {
        display: block;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
    }

}

@media(max-width:930px) {
    .navbar ul {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: block;
    left: 0;
    top: calc(100% + .20rem);
    background-color: #212529;
    color: azure;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .20);
    pointer-events: none;
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active li>a.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 1rem;
}

.dropdown-links {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 1rem;
    padding: .5rem;
}

.dropdown-links a {
    padding: .4rem;
}

/* https://www.youtube.com/watch?v=S-VeYcOCFZw */